<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewData["Title"] - CSIS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body class="bg-dark">
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CSIS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Cosmetics" asp-action="Index">Cosmetics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Clients" asp-action="Index">Clients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Purchases" asp-action="Index">Purchases</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Consignments" asp-action="Index">Consignments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                </ul>
                <ul class="flex-grow"></ul>
                @if (User is not null && !User.Identity.IsAuthenticated)
                {
                    <li style="list-style-type: none">
                        <a class="btn btn-primary mr-2" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                    </li>
                    <li style="list-style-type: none">
                        <a class="btn btn-success" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                    </li>
                }
                else
                {
                    <li class="text-light" style="list-style-type: none">
                        <h5>@User.Identity.Name</h5>
                    </li>
                    <form method="post" asp-controller="Account" asp-action="Logout">
                        <button class="mx-2 btn btn-sm btn-danger" style="align-self: flex-end" type="submit">Logout</button>
                    </form>
                }
            </div>
        </div>
    </nav>
</header>
<div class="container container-fluid">
    <main role="main" class="pb-3 container-fluid">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted bg-dark">
    <div class="container text-light">
        &copy; 2021 - CSIS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>