@model ErrorMessageViewModel

@{
    ViewBag.Title = "Error";
    Layout = "_Layout";
}

<h2 class="text-warning">Error happened while processing your request</h2>
<h3 class="text-light">Details:</h3>
<h3 class="text-light" style="font-weight: lighter">@Model.Message</h3>
<div>
    <a class="btn btn-outline-primary text-light" asp-controller="@Model.ReturnController" asp-action="@Model.ReturnAction">Go back</a>
</div>