@{
    ViewData["Title"] = "About";
}
<h1 class="text-light display-4 text-center">@ViewData["Title"]</h1>

<h5 class="text-light">Developed as course work by Mykola Vaskevych.</h5>
<h5 class="text-light">If you want to complain, please don't.</h5>
<h5 class="text-light">Telegram: <a href="https://t.me/Sand_stranger">&#64;Sand_stranger</a></h5>