@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-light">
    <h4 class="display-4 text-success">Welcome to Cosmetic Salon Information System</h4>
    <h4 style="font-weight: lighter">To get access to system's function, login and use navigation bar at top.</h4>
</div>